USE [master]
GO
/****** Object:  Database [StudInfoSys1]    Script Date: 11/04/2025 10:40:33 am ******/
CREATE DATABASE [StudInfoSys1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudInfoSys1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\StudInfoSys1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudInfoSys1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\StudInfoSys1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudInfoSys1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudInfoSys1]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/04/2025 10:40:34 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [nchar](10) NULL,
	[FirstName] [nchar](10) NULL,
	[LastName] [nchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
