@model SectionViewModel
<h3>Section</h3>
<table>
    <thead>
        <tr>
            <th>Section ID</th>
            <th>Section Name</th>
            <th>Teacher</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var row in Model.Sections)
        {
            <tr>
                <td>@row.SectionID</td>
                <td>@row.SectionName</td>
                <td>@row.Teacher</td>
            </tr>
        }
    </tbody>

</table>

<style>
    table, th, td {
        border: solid 1px black;
        padding: 5px;
    }
    table{
        width:100%;
    }
    tr:hover{
        background-color:lightyellow;
    }
    thead {
        background-color: azure;
    }
</style>