@model TeacherViewModel
<h3>Teacher</h3>
<table>
    <thead>
        <tr>
            <th>Teacher ID</th>
            <th>Teacher Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var row in Model.Teachers)
        {
            <tr>
                <td>@row.TeacherID</td>
                <td>@row.TeacherName</td>
            </tr>
        }
    </tbody>

</table>

<style>
    table, th, td {
        border: solid 1px black;
        padding: 5px;
    }

    table {
        width: 100%;
    }

    thead {
        background-color: azure;
    }
</style>